@font-face {
    font-family: Whitney;
    src: url(https://timothy3773.github.io/fonts/whitney.woff)
}

body {
    background-color: #23272A;
}

.nav {
    font-weight: bold;
    padding: 40px;
    display: inline-block;
    position: relative;
    font-family: Whitney;
    color: white;
    font-size: 45px;
}

.nav img {
    width: 100px;
    vertical-align: middle;
    border-radius: 50%;
}

.servers {
    flex-flow: row;
    padding: 5px;
}


.top {
    padding: 5px;
    display: inline-block;
    position: relative;
}

.top img {
    vertical-align: middle;
    border-radius: 50%;
}



.server {
    background-color: #282d30;
    border: 1px solid #343a3f;
    border-radius: 15px;
    max-width: 400px;
    min-height: 300px;
    max-height: 1100px;
}

.server .title {
    font-weight: 100;
    vertical-align: middle;
    font-family: Whitney;
    font-size: 25px;
    color: white;
}

.emojis {
    display: flexbox;
    flex-flow: row;
    max-height: 1000px;
    padding: 7px;
    background-origin: content-box;
}

.emojis img {
    border: 1px solid transparent;
    width: 40px;
}

.emojis img:hover {
    border: 1px solid #4C4C4C;
}

.joinbtn {
    border: 1px solid #4C4C4C;
    background-color: #43B581;
    font-size: 25px;
    border-radius: 3px;
    color: white;
}



.joinbtn a {
    font-family: Whitney;
    text-decoration: none;
    color: white;
}

.joinbtn:hover a::after {
    content: " :^)";
}

.egg {
    position: fixed;
    bottom: 0;
    right: 0;
}

