@font-face {
    font-family: Whitney;
    src: url(https://timothy3773.github.io/fonts/whitney.woff)
}

body {
    background-color: #23272A;
}

.nav {
    padding: 40px;
    display: inline-block;
    position: relative;
    font-family: Whitney;
    color: white;
    font-size: 45px;
}

.nav img {
    width: 100px;
    vertical-align: middle;
    border-radius: 50%;
}