@font-face {
    font-family: Whitney;
    src: url(https://timothy3773.github.io/fonts/whitney.woff)
}



body {
    background-color: #23272A;
    cursor: url(http://cdn.usldiscord.tk/yeet.gif), auto;
}

p.warning {
    font-family: Whitney;
    color: white;
    font-size: 30px;
}

a {
    text-decoration: none;
}


a:hover {
    cursor: url(http://www.rw-designer.com/cursor-view/122567.gif), pointer;
    text-decoration: underline;
    text-decoration-style: wavy;
}




.nav {
    font-weight: bold;
    padding: 40px;
    display: inline-block;
    position: relative;
    font-family: Whitney;
    color: white;
    font-size: 45px;
}

.nav img {
    width: 100px;
    vertical-align: middle;
    border-radius: 50%;
}

.servers {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}


.top {
    padding: 5px;
    display: inline-block;
    position: relative;
    margin: 5px;
}

.top img {
    vertical-align: middle;
    border-radius: 50%;
}

hr {
    border-color: #939393;
    border-style: solid;
}

.seper {
    background-color: #1f2325;
    text-align: center;
    font-family: Whitney;
    color: white;
    font-weight: 100;
    font-size: 40px;
}

.footer {
    position: static;
    bottom: 0;
    font-family: Whitney;
    color: white;
}

.server {
    margin: 5px;
    background-color: #282d30;
    border: 1px solid #343a3f;
    border-radius: 15px;
    min-width: 250px;
    max-width: 320px;
    min-height: 300px;
    max-height: 4000px;
}

.server .title {
    font-weight: 100;
    vertical-align: middle;
    font-family: Whitney;
    font-size: 25px;
    color: white;
}

.server .title a {
    color: inherit
}


.emojis {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.emojis img {
    border: 1px solid transparent;
    width: 35px;
    object-fit: scale-down;
    height: 35px;
    margin: 2px;
    box-sizing: border-box;
    border-spacing: 5px;
}

.emojis img:hover {
    box-sizing: border-box;
    border: 1px solid #4C4C4C;
}

.joinserver {
    text-align: center;
    margin-bottom: 7px;
}

.joinbtn {
    border: 1px solid #4C4C4C;
    background-color: #43B581;
    font-size: 25px;
    justify-content: center;
    border-radius: 3px;
    color: white;
}



.joinbtn a {
    font-family: Whitney;
    text-decoration: none;
    color: white;
}



.egg {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 15px;
}

.egg:hover {
    position: fixed;
    bottom: 0;
    right: 0;
    filter: grayscale(20)
}
